/* if i want to change between lighter and darker theme */
:root {
  --font-family: 'Space Grotesk', sans-serif;
  --color-primary-one: #ffffff;
  --color-primary-two: #ebebeb;
  --color-secondary-one: #151515;
  --color-secondary-two: #242424;
  --color-accent: #99C9F2;

  /* --color-primary-one: #151515;
  --color-primary-two: #272727;
  --color-secondary-one: #dcdcde;
  --color-secondary-two: rgb(168, 168, 168);
  --color-accent: #f0db4f; */
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--color-secondary-one);
  font-family: var(--font-family);
  background-color: var(--color-primary-one);
  transition: background-color 1s ease, color 1s ease;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-two);
  border-radius: 4px;
  border: 0 solid var(--color-secondary-two);
}

a {
  color: var(--color-secondary-one);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* -------------------------------------------------- Header & footer */
header {
  display: flex;
  justify-content: center;
  position: relative;
}

footer {
  width: 100%;
  background-color: var(--color-primary-two);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-container,
footer {
  padding: 0 0.9375rem;
}

.navbar-container,
.footer-container {
  width: 100%;
  max-width: 69.375rem;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-container {
  position: absolute;
  z-index: 10;
}

.name-container p {
  margin: 1.25rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.icons-container {
  width: 9.6246rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

svg path {
  display: block;
  fill: var(--color-secondary-one);
}

svg:hover path {
  fill: var(--color-accent);
}

i.fa-brands.fa-medium {
  width: 1.3125rem;
  height: 1.25rem;
}

i.fa-brands.fa-medium:hover {
  color: var(--color-accent);
  transition: all 150ms ease-in-out;
  transform: scale(1.125);
}

svg:hover {
  transition: all 150ms ease-in-out;
  transform: scale(1.125);
}

.github {
  width: 1.25rem;
  height: 1.25rem;
}

.linked-in {
  width: 1.3125rem;
  height: 1.25rem;
}


.twitter {
  width: 1.5rem;
  height: 1.25rem;
}

#toggleDark {
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  color: var(--color-secondary-one);
}

#toggleDark:hover {
  color: var(--color-accent);
  transition: all 150ms ease-in-out;
  transform: scale(1.125);
}

#headstarter {
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  color: var(--color-secondary-one);
}

#headstarter:hover {
  color: var(--color-accent);
  transition: all 150ms ease-in-out;
  transform: scale(1.125);
}

/* --------------------------------------------------------- About me */
main {
  padding: 0 0.9375rem;
}

section {
  width: 100%;
  max-width: 69.375rem;
  margin: 0 auto;
}

.about-me {
  min-height: 41.25rem;
  /* Remove display flex if using profile image */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.canvas-dots-container {
  width: 100%;
  height: 747px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  z-index: -20;
  top: 0;
  left: 0;
}

.about-container {
  width: 100%;
  max-width: 443px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  height: 102px;
  margin: 0 0 1.5rem 0;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: -0.071rem;
}

.about-name {
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.5rem;
}

.about-body {
  margin: 0 0 1.5rem 0;
  color: var(--color-secondary-two);
  text-align: center;
  line-height: 1.625rem;
  font-size: 1rem;
}

.contact-jump p,
.projects-contact p,
.project-links p,
.contact-submit a {
  margin: 0 0 92px 0;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1429rem;
  line-height: 1.625rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 16px;
}

.contact-jump p {
  display: inline-block;
}

.contact-jump:hover,
.projects-contact:hover,
.project-links ul li a:hover,
.contact-submit a:hover {
  cursor: pointer;
  color: var(--color-accent);
}

.section-break {
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
}

.section-break.one {
  margin: 0px auto 40px auto;
}

/* ------------------------------------------------------- Experience */
.experience-container {
  margin: 0 auto 40px auto;
  justify-content: center;
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 24px;
}

.experience {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.experience-left {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-wrapper {
  display: flex;
  justify-content: start;
}

.experience-right {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience h2,
.experience h3 {
  text-align: start;
}

.experience h2 {
  margin: 0;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
}

.experience h3 {
  margin: 0;
  color: var(--color-secondary-two);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.bio-container {
  width: 100%;
  max-width: 445px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bio-top {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.bio-top h2 {
  margin: 0;
  display: block;
  font-size: 50px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -2.5px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.column-one {
  display: flex;
  flex-direction: column;
}

.tech-wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tech-wrapper:last-of-type {
  margin-bottom: 0;
}

.tech-wrapper>p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.tech-logo {
  width: 100%;
  max-width: 98px;
  max-height: 98px;
}

#mongodb,
#python {
  width: auto;
  max-width: 98px;
  max-height: 80px;
}

.section-break.two {
  margin-bottom: 80px;
}

.html,
.css,
.sass,
.js,
.react,
.express,
.mongodb,
.python,
.sql {
  visibility: hidden;
  opacity: 0;
}

.experience.html {
  transition: all 500ms ease-out 0.3s;
}

.experience.express {
  transition: all 500ms ease-out 0.4s;
}

.experience.mongodb {
  transition: all 500ms ease-out 0.5s;
}

.experience.css {
  transition: all 500ms ease-out 0.6s;
}

.experience.js {
  transition: all 500ms ease-out 0.7s;
}

.experience.python {
  transition: all 500ms ease-out 0.8s;
}

.experience.sql {
  transition: all 500ms ease-out 0.8s;
}

.experience.react {
  transition: all 500ms ease-out 1s;
}

.experience.logo-show {
  visibility: visible;
  opacity: 1;
}

/* --------------------------------------------------------- Projects */
.projects {
  margin-bottom: 92px;
}

.projects-header {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-heading h2 {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.136px;
}

.projects-contact p,
.project-links p {
  margin: 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: min-content;
  row-gap: 40px;
}

.project-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.image-container {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.project-image {
  width: 100%;
  height: 100%;
  /* max-width: 545.809px; // limit image size on mobile */
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.project-details h3 {
  margin: 0 0 7px 0;
  font-size: 24px;
  line-height: 32px;
}

.project-tags {
  margin-bottom: 20px;
  color: var(--color-secondary-two);
  font-size: 11px;
  line-height: 28px;
}

.project-tags ul,
.project-links ul {
  display: flex;
}

.project-tags ul li {
  margin-left: 18px;
}

.project-links ul li {
  margin-left: 32px;
}

.project-tags ul li:first-child,
.project-links ul li:first-child {
  margin-left: 0;
}

/* Scroll animations */
.project-card {
  transform: translateY(100px);
}

.project-details h3 {
  transform: translateY(50px);
}

.project-tags {
  transform: translateY(50px);
}

.project-links {
  transform: translateY(50px);
}

.project-card {
  transition: all 700ms ease-out;
  visibility: hidden;
  opacity: 0;
}

.project-details h3,
.project-tags,
.project-links {
  transition: all 600ms ease-out;
}

.project-card.card-show,
.project-details h3.card-title-show,
.project-tags.card-tags-show,
.project-links.card-links-show {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* ---------------------------------------------------------- Contact */
.contact {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-details {
  margin-bottom: 50px;
}

.contact-details h2 {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.136px;
}

.contact-details p {
  width: 100%;
  max-width: 445px;
  margin-bottom: 87px;
  margin: 0;
  color: var(--color-secondary-two);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 26px;
}

.contact-form-container {
  width: 100%;
  max-width: 445px;
}

.contact-form-container {
  margin-bottom: 99px;
}

.contact-submit {
  border: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-secondary-one);
  font-family: var(--font-family);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 16px;
}

.contact-submit:hover {
  cursor: pointer;
  color: var(--color-accent);
}

.submit-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-break.three {
  margin-bottom: 39px;
}

/* ------------------------------------------------------------- Misc */
.hidden {
  display: none;
}

.hidden-2 {
  visibility: hidden;
}

/* ---------------------------------------------------- Media queries */
@media (min-width: 376px) {
  .navbar-container {
    margin-top: 1.8125rem;
  }

  .footer-container {
    margin-bottom: 2.5rem;
  }

  .navbar-container,
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .name-container p {
    margin: 0;
    font-size: 2rem;
  }

  .github {
    width: 1.5625rem;
    height: 1.5625rem;
  }

  .fe-mentor,
  .linked-in {
    width: 1.625rem;
    height: 1.5625rem;
  }

  .twitter {
    width: 1.8125rem;
    height: 1.5625rem;
  }
}

@media (min-width: 768px) {

  .navbar-container,
  main {
    padding: 0 1.75rem;
  }

  footer {
    padding: 0 1.75rem;
  }

  .icons-container {
    width: 12.0309rem;
  }

  .profile-mobile {
    display: none;
  }

  .profile-tablet {
    display: block;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .canvas-dots-container {
    height: 660px;
  }

  .about-container {
    margin: 0;
    display: inline;
  }

  .about-title {
    height: 216px;
    margin-bottom: 4.125rem;
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: -2.045px;
    text-align: start;
  }

  .line-break {
    display: flex;
    flex-direction: column;
  }

  .about-name {
    text-underline-offset: 0.875rem;
  }

  .about-body {
    margin-bottom: 2.125rem;
    font-size: 1.125rem;
    text-align: start;
    line-height: 1.75rem;
  }

  .contact-jump p {
    margin-bottom: 72px;
    text-align: start;
  }

  .section-break.one {
    margin-top: 0px;
  }

  .experience-container {
    max-width: 100%;
    margin-bottom: 100px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 52px;
  }

  .experience {
    justify-content: flex-start;
  }

  .experience-left {
    margin-left: 15px;
  }

  .experience-right {
    width: 75px;
  }

  .experience h2,
  .experience h3 {
    text-align: start;
  }

  .experience h2 {
    margin-bottom: 12px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
  }

  .experience h3 {
    font-size: 18px;
    line-height: 28px;
  }

  .tech-logo {
    max-width: 90px;
    max-height: 90px;
  }

  .section-break.one {
    margin-bottom: 52px;
  }

  .section-break.two {
    display: none;
  }

  .projects-header {
    margin-bottom: 60px;
  }

  .projects-heading h2 {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.045px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 72px;
  }

  .contact-details {
    margin-bottom: 48px;
  }

  .contact-details h2 {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.045px;
  }

  .contact-details p {
    font-size: 18px;
    line-height: 28px;
  }

  .contact-form-container {
    margin-bottom: 104px;
  }

  .section-break.three {
    margin-bottom: 30px;
  }

  .footer-container {
    margin-bottom: 40px;
  }
}

@media (min-width: 1110px) {
  .navbar-container {
    /* padding: 0 29.5104px 0 0; // enable if using profile picture */
    padding: 0 0 0 0;
    margin-top: 2.4375rem;
  }

  .footer-container {
    margin-bottom: 5.75rem;
  }

  section {
    position: relative;
  }

  .profile-tablet {
    display: none;
  }

  .profile-desktop {
    display: block;
  }

  .about-me {
    height: 824px;
    justify-content: center;
  }

  .canvas-dots-container {
    height: 824px;
  }

  .about-container {
    max-width: 714px;
  }

  .about-title {
    height: auto;
    margin-bottom: 43px;
    font-size: 88px;
  }

  .about-name {
    text-underline-offset: 18px;
  }

  .line-break {
    display: inline;
  }

  .about-body {
    width: 445px;
    margin: 0 0 66px 0;
  }

  .section-break.one {
    margin: 0px auto 72px auto;
  }

  .experience-wrapper {
    width: 100%;
  }

  .experience {
    justify-content: center;
  }

  .experience:nth-of-type(2),
  .experience:nth-of-type(5),
  .experience:nth-of-type(8) {
    margin-left: 40px;
  }

  .experience-container {
    max-width: 1110px;
    margin-bottom: 140px;
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-header {
    margin-bottom: 80px;
  }

  .projects-heading h2 {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 69px;
  }

  .project-links {
    display: none;
  }

  .image-overlay {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--color-accent);
    opacity: 0.9;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: 3s cubic-bezier(0.2, 1, 0.3, 1);
    /* Change speed curve */
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  }

  .image-container img {
    transition: all 100ms ease-out;
  }

  .image-container:hover img {
    transform: scale(1.1);
  }

  .overlay-text {
    color: var(--color-primary-one);
  }

  .overlay-text:hover {
    /* color: var(--color-accent);  // dont blend in with background */
    transition-delay: 0;
    transform: scale(1.04);
  }

  .enabled {
    display: flex;
    visibility: visible;
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  }

  .project-links-overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 500ms cubic-bezier(0.2, 1, 0.3, 1) 250ms;
    transform: translateY(-20%);
    top: 0;
  }

  .project-links-overlay ul li a {
    color: var(--color-primary-one);
    text-decoration-color: var(--color-primary-one);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.286px;
  }

  .project-links-overlay ul li {
    margin: 0 0 60px 0;
  }

  .project-links-overlay ul li:last-child {
    margin: 0;
  }

  .image-container:hover .project-links-overlay ul li a,
  .image-container:hover .project-links-overlay {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .contact {
    margin-bottom: 104px;
    padding-top: 84px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-details h2 {
    margin-bottom: 36px;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    text-align: left;
  }

  .contact-details p {
    font-size: 18px;

    text-align: left;
  }

  .contact-form-container {
    margin-bottom: 0;
  }

  .section-break.three {
    margin-bottom: 47px;
  }

  .footer-container {
    margin-bottom: 92px;
  }
}